.App {
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.form-login {
  background-color: #6f82eb;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.login-title {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem;
}

.login-input {
  padding: 1rem;
}

.input {
  
}

.login-buttons {

}

.btn {
  background-color: #dedede;
}


